*
{
    margin: 0;
    padding: 0;
  
}

html,
body
{
    height: 100vh;
  font-family: 'Zen Maru Gothic',sans-serif;
    color: aliceblue;
   
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


.container {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}


.content{
    display: block;
    gap : 6 em;
    width: 100%;
    padding-top: 3em;
    position:relative;
}


.content:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgb(135, 84, 151);
    transform: scaleX(1);
}


img{
  width: 100%;
}


/**
* projects contents 
*/
.content-projects{
  
  display: block;
  gap : 6 em;
  position: relative;
  top: 20rem;
  /* border: solid 1px green; */
  justify-items:center ;
  align-items: center;
  
  
}
.content-projects>h1 {
  
  text-align: center;
  width: 100%;
  font-size: 6rem;
  margin-bottom: 6rem;
  position: relative;
  
}

/* .content-projects>h1::after{
  content: "";
  position:  absolute;
  width: 50%;
  border-bottom: 1px solid rgb(135, 84, 151);
  bottom: 0;
  left: 25%;

  transform: scaleX(1);
}
  */

.list-projects{
  display: grid;
  /* border: solid 1px rgb(246, 60, 159); */
  align-items: center;
  justify-items: center;
  grid-gap: 6rem;
  position: relative;
  /* margin-left: 20%;
  margin-right: 20%; */
  margin-top: 10rem;
  width: 60%;
  left: 20%;

 
}

.tilt {
  
}




.list-item{
  /* border: solid 1px rgb(38, 6, 41); */
  display: grid;
  grid-gap: 6rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2rem;
  position: relative;
  width: 70%;

}

.list-item > div{

align-items: center;

}


.list-item > h3{
 letter-spacing: 1px;
  font-size: 2.4rem;
   font-family: 'Zen Maru Gothic',sans-serif;
    color: aliceblue;
    text-align: center;
}

.list-item > p{

   font-size: 1.3rem;
  text-align: start;
  font-family: 'Zen Maru Gothic',sans-serif;
    color: aliceblue;
    overflow: hidden;
}

 


 .list-item img {
  /* border: solid 1px rgb(38, 6, 41); */
  width: 100%;
  height: 100%;
  object-fit: cover;   
} 

 
.list-item:hover{
  filter: brightness(3);
  cursor: pointer;
}



.list-item:nth-child(even) img {
  order: 2;
}

/*********end projects contents********/

h1 {
    font-size:  5rem;
    width: 60vw;
    line-height: 97%;
    text-align: right;
   
}


p {
    font-size: 1.6rem;
    /* width: 60vw; */
    text-align: right;
}

h1,p{
    flex-grow: 1;
    flex-basis: 0;
   
}

 


.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 4em;
    gap:2em;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-one {
    font-size: 1.1em;
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.3s;
   
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}




.footer-sound {
    text-align: center;
    width: 18px;
    position: fixed;
    height: 18px;
    margin-left: auto;
    right: 1vw;
    top: 2vh;
    cursor: pointer;
    z-index: 10000;
    
}

/* sound */
.sound {width:20px; height: auto; position: absolute; z-index: 1000; top:25px; right:20px; cursor: pointer; opacity:.7;}
.soundOn { display: block; }
.soundOff { display: none; }
/* sound */


/* sound icon animation */

.sbar {
  height: 1px;
  width: 2px;
  float:left;
  background-color: #3d5257;
  opacity:1;
  bottom: 5px;
  position: absolute;
  -webkit-animation-duration: 500ms;
  -webkit-animation-play-state: running;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  animation-duration: 500ms;
  animation-play-state: running;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.sbar.noAnim {
   -webkit-animation: none !important;

 -moz-animation: none !important;

 -o-animation: none !important;

 -ms-animation: none !important;

 animation: none !important;

}
.sbar#bar-1 {
  left: 0;
  -webkit-animation-name: danceHeight1;
  -webkit-animation-delay: 0ms;

  animation-name: danceHeight1;
  animation-delay: 0ms;

}
.sbar#bar-2 {
  left: 4px;
  -webkit-animation-name: danceHeight2;
  -webkit-animation-delay: 300ms;

  animation-name: danceHeight2;
  animation-delay: 300ms;
}
.sbar#bar-3 {
  left: 8px;
  -webkit-animation-name: danceHeight3;
  -webkit-animation-delay: 600ms;

  animation-name: danceHeight3;
  animation-delay: 600ms;

}
.sbar#bar-4 {
  left: 12px;
  -webkit-animation-name: danceHeight4;
  -webkit-animation-delay: 900ms;
  animation-name: danceHeight4;
  animation-delay: 900ms;
}

@-webkit-keyframes danceHeight1 {
  from {
    height: 1px;
  }
  to {
    height: 10px;
  }
}
@-webkit-keyframes danceHeight2 {
  from {
    height: 1px;
  }
  to {
    height: 12px;
  }
}
@-webkit-keyframes danceHeight3 {
  from {
    height: 1px;
  }
  to {
    height: 14px;
  }
}
@-webkit-keyframes danceHeight4 {
  from {
    height: 1px;
  }
  to {
    height: 8px;
  }
}


@keyframes danceHeight1 {
  from {
    height: 1px;
  }
  to {
    height: 10px;
  }
}
@keyframes danceHeight2 {
  from {
    height: 1px;
  }
  to {
    height: 12px;
  }
}
@keyframes danceHeight3 {
  from {
    height: 1px;
  }
  to {
    height: 14px;
  }
}
@keyframes danceHeight4 {
  from {
    height: 1px;
  }
  to {
    height: 8px;
  }
}
/* end sound anmation */ 

/* #projects_page {
  display: grid;
  z-index: -1000;
}
 */

.list{
  display: block;
}

